// Main content
@media screen and (min-width: 769px)
	.hero-img
		position: fixed
		z-index: 0
	
	.content
		z-index: 100
		top: 450px
		
.hero-img
	width: 100%
	position: relative
	top: 60px

.content
	max-width: 100%
	background: #fff
	top: 80px
	position: relative
// Index

// Author

// Copy Writer

